# Chapter 2 - Exercises

## [2.1.8] Exercises

### question 1

1) Run the code in this section. Change the conditional statement X == Y in this section to X < Y or X > Y, and then see what kind of tensor you can get.

As expected components are compared elementwise

### question 2

2) Replace the two tensors that operate by element in the broadcasting mechanism with other shapes, e.g., 3-dimensional tensors. Is the result the same as expected?

As seen below the broadcasting is similar in high dimensions - the tensors are replicated to meet the dimension required

In [39]:
import torch

x = torch.tensor([[[1],[43],[2]],[[2],[3],[5]]])
y = torch.tensor([[[9,10,3],[1,2,3],[1,2,3]],[[9,10,3],[1,2,3],[1,2,3]]])
z = x + y

# print(x.shape, y.shape)
# print(x, y)
# print(z.shape)
# print(z)

## [2.2.5] Exercises

### Create a raw dataset with more rows and columns.

In [87]:
import random
from datetime import datetime

import numpy as np
import pandas as pd
from dateutil.relativedelta import relativedelta

# First we create example dataframe
r = random.Random(12)

def generate_random_date_in_last_year():
    return (datetime.now() - relativedelta(days=365 * random.random()))


dataframe = pd.DataFrame({
    "date_time": [generate_random_date_in_last_year() for _ in range(10)],
    "animal": ['zebra', 'NA', 'zebra', 'NA', 'lion', 'lion', 'lion',
               'lion', 'rhino', 'rhino', ],
    "category": ['stripy'] * 4 + ['dangerous'] * 6,
    "name": ['Walter', 'NA', 'Gyles', 'NA', 'Bartholomew', 'Frederyk',
             'Raulf', 'Symond', 'Carlos', 'Arthur'],
    "weight": [80 + 40 * r.random() for _ in range(10)],
    "favourite_integer": [r.randint(0, 100) for _ in range(10)],
    "bad_column": ['', 3, '', 1, None, 2, None, 2, 'NA', 3],
    'employed': [bool(r.randint(0, 1)) for i in range(10)]
})

dataframe.to_csv('../data/animals.csv')

In [88]:
animals = pd.read_csv('../data/animals.csv',index_col=0)
animals.head()

,date_time,animal,category,name,weight,favourite_integer,bad_column,employed
0,2019-11-10 00:43:27.030039,zebra,stripy,Walter,98.982827,71,NaN,False
1,2020-08-07 06:50:57.189155,NaN,stripy,NaN,106.298900,0,3.0,False
2,2019-09-24 00:15:38.189297,zebra,stripy,Gyles,106.656419,84,NaN,False
3,2020-02-01 16:53:51.739058,NaN,stripy,NaN,85.704014,79,1.0,True
4,2020-02-16 09:15:32.273208,lion,dangerous,Bartholomew,80.434418,18,NaN,True

### question 1

Delete the column with the most missing values.

In [89]:
column_to_delete = max(
    [(x, y) for x,y in animals.isna().sum().items()],
    key=lambda x: x[1])[0]

In [90]:
column_to_delete

'bad_column'

In [91]:
no_bad_col = animals.drop(column_to_delete, axis=1)
no_bad_col.head()

,date_time,animal,category,name,weight,favourite_integer,employed
0,2019-11-10 00:43:27.030039,zebra,stripy,Walter,98.982827,71,False
1,2020-08-07 06:50:57.189155,NaN,stripy,NaN,106.298900,0,False
2,2019-09-24 00:15:38.189297,zebra,stripy,Gyles,106.656419,84,False
3,2020-02-01 16:53:51.739058,NaN,stripy,NaN,85.704014,79,True
4,2020-02-16 09:15:32.273208,lion,dangerous,Bartholomew,80.434418,18,True

### Question 2

Convert the preprocessed dataset to the tensor format.

In [96]:
no_bad_col.date_time = pd.to_datetime(no_bad_col.date_time).astype(np.int64)
no_bad_col.employed = no_bad_col.employed.astype(int)

In [97]:
inputs = pd.get_dummies(no_bad_col, dummy_na=True)

In [98]:
inputs.dtypes

date_time               int64
weight                float64
favourite_integer       int64
employed                int64
animal_lion             uint8
animal_rhino            uint8
animal_zebra            uint8
animal_nan              uint8
category_dangerous      uint8
category_stripy         uint8
category_nan            uint8
name_Arthur             uint8
name_Bartholomew        uint8
name_Carlos             uint8
name_Frederyk           uint8
name_Gyles              uint8
name_Raulf              uint8
name_Symond             uint8
name_Walter             uint8
name_nan                uint8
dtype: object

In [99]:
X = torch.tensor(inputs.values)
X